.*\.o$
.*\.arpa$
.*\.fst$
.*\.fst.txt$
.*\.dylib$
.*\.so
.*-binding.cc
src/bin/phonetisaurus-align
src/bin/phonetisaurus-arpa2wfst
src/bin/phonetisaurus-g2pfst
src/bin/phonetisaurus-g2prnn
src/bin/rnnlm
.*\.pyc$
models/
.*\.egg-info/
build/
dist/
src/data
src/rnnlm.direct$
*.pyc
phonetisaurus.egg-info/
rnnlm.egg-info/
*.fst
*.o
*.so
*-binding.cc
nohup.out
src/.autoconf/autom4te.cache
src/.autoconf/config.log
src/.autoconf/config.status
src/.autoconf/configure
src/Makefile
html/
exp/
phonetisaurus.egg-info/
