.*\.o$
.*\.arpa$
.*\.fst$
.*\.fst.txt$
.*\.dylib$
.*\.so
.*-binding.cc
bin/phonetisaurus-align$
bin/phonetisaurus-arpa2wfst$
bin/phonetisaurus-g2p$
bin/phonetisaurus-g2p-omega$
.*\.pyc$
models/
.*\.egg-info/
build/
dist/
src/data
src/rnnlm.direct$
*.pyc
phonetisaurus.egg-info/
rnnlm.egg-info/
*.fst
*.o
*.so
*-binding.cc
nohup.out
