.*\.o$
.*\.arpa$
.*\.fst$
.*\.fst.txt$
.*\.dylib$
.*\.so
.*-binding.cc
raptor$
phonetisaurus-align$
phonetisaurus-arpa2fst$
phonetisaurus-arpa2wfst-omega$
phonetisaurus-g2p$
phonetisaurus-g2p-omega$
.*\.pyc$
models/
.*\.egg-info/
build/
dist/
src/data
src/rnnlm.direct$
*.pyc
phonetisaurus.egg-info/
rnnlm.egg-info/
*.fst
*.o
*.so
bin/
lib/
*-binding.cc